<% content_for :javascript_includes do %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag "home" %>
<% end %>

<% content_for :css_includes do %>
  <%= stylesheet_link_tag "pages", media: "all" %>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<% end %>
<header id="main-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="logo" class="navbar-brand" href="#">Droplayer</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul id="sections-menu" class="nav navbar-nav">
        <li><a href="#features">Features</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contribute">Contribute</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= form_for :session, :url => session_path, html: { class: "navbar-form navbar-left", role: "form"} do |form| %>
                <div class='form-group'>
                  <%= form.text_field :email, :type => 'email', class: "form-control", placeholder: "Email" %>
                </div>

                <div class='form-group'>
                  <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
                </div>

                <%= form.submit class: "btn btn-default" %>

                <div class='other-links'>
                  <%= link_to t('.sign_up'), sign_up_path %>
                  <%= link_to t('.forgot_password'), new_password_path %>
                </div>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</header>
<section id="cover" class="jumbotron">
  <%= image_tag("cover3.jpg") %>
  <div id="legend">
    <h1>Droplayer</h1>
    <p>Your music, anywhere</p>
  </div>
</section>
<section id="features">
  <div class="container text-center">
    <h1>Listen music from your Dropbox account</h1>
    <h2><small>At vero eos et accusam et justo duo dolores et ea rebum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</small></h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="row icons"><span class="fa fa-headphones"></span></div>
        <div class="row">
          <h3>Lorem ipsum</h3>
          <p>
            Stet clita kasd gubergren, no sea takimata sanctus est. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p></span></div>
      </div>
      <div class="col-sm-4">
        <div class="row icons"><span class="fa fa-tags"></span></div>
        <div class="row">
          <h3>Lorem ipsum</h3>
          <p>
            Stet clita kasd gubergren, no sea takimata sanctus est. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p></span></div>
      </div>
      <div class="col-sm-4">
        <div class="row icons">
          <span class="fa fa-desktop"></span>
          <span class="fa fa-tablet"></span>
          <span class="fa fa-mobile"></span>
        </div>
        <div class="row">
          <h3>Lorem ipsum</h3>
          <p>
            Stet clita kasd gubergren, no sea takimata sanctus est. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p></span></div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container text-center">
    <h1>About</h1>
    <h2><small>At vero eos et accusam et justo duo dolores et ea rebum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</small></h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="row icons"><span class="fa fa-headphones"></span></div>
        <div class="row">
          <h3>Lorem ipsum</h3>
          <p>
            Stet clita kasd gubergren, no sea takimata sanctus est. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p></span></div>
      </div>
      <div class="col-sm-4">
        <div class="row icons"><span class="fa fa-tags"></span></div>
        <div class="row">
          <h3>Lorem ipsum</h3>
          <p>
            Stet clita kasd gubergren, no sea takimata sanctus est. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p></span></div>
      </div>
      <div class="col-sm-4">
        <div class="row icons">
          <span class="fa fa-desktop"></span>
          <span class="fa fa-tablet"></span>
          <span class="fa fa-mobile"></span>
        </div>
        <div class="row">
          <h3>Lorem ipsum</h3>
          <p>
            Stet clita kasd gubergren, no sea takimata sanctus est. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p></span></div>
      </div>
    </div>
  </div>
</section>

<section id="contribute">
  <div class="container text-center">
    <h1>Contribute</h1>
    <h2><small>At vero eos et accusam et justo duo dolores et ea rebum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</small></h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="row icons"><span class="fa fa-headphones"></span></div>
        <div class="row">
          <h3>Lorem ipsum</h3>
          <p>
            Stet clita kasd gubergren, no sea takimata sanctus est. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p></span></div>
      </div>
      <div class="col-sm-4">
        <div class="row icons"><span class="fa fa-tags"></span></div>
        <div class="row">
          <h3>Lorem ipsum</h3>
          <p>
            Stet clita kasd gubergren, no sea takimata sanctus est. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p></span></div>
      </div>
      <div class="col-sm-4">
        <div class="row icons">
          <span class="fa fa-desktop"></span>
          <span class="fa fa-tablet"></span>
          <span class="fa fa-mobile"></span>
        </div>
        <div class="row">
          <h3>Lorem ipsum</h3>
          <p>
            Stet clita kasd gubergren, no sea takimata sanctus est. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p></span></div>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container text-center">
    <h1>Contact</h1>
    <h2><small>At vero eos et accusam et justo duo dolores et ea rebum. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.</small></h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="row icons"><span class="fa fa-headphones"></span></div>
        <div class="row">
          <h3>Lorem ipsum</h3>
          <p>
            Stet clita kasd gubergren, no sea takimata sanctus est. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p></span></div>
      </div>
      <div class="col-sm-4">
        <div class="row icons"><span class="fa fa-tags"></span></div>
        <div class="row">
          <h3>Lorem ipsum</h3>
          <p>
            Stet clita kasd gubergren, no sea takimata sanctus est. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p></span></div>
      </div>
      <div class="col-sm-4">
        <div class="row icons">
          <span class="fa fa-desktop"></span>
          <span class="fa fa-tablet"></span>
          <span class="fa fa-mobile"></span>
        </div>
        <div class="row">
          <h3>Lorem ipsum</h3>
          <p>
            Stet clita kasd gubergren, no sea takimata sanctus est. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p></span></div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div id='clearance' class='sign-up'>
  <h2>New User</h2>

  <%= form_for @user do |form| %>
    <%= render :partial => '/users/form', :object => form %>

    <div class='submit-field'>
      <%= form.submit %>
    </div>

    <div class='other-links'>
      <%= link_to 'Sign In', sign_in_path %>
    </div>
  <% end %>
</div>
 -->
<!-- 
<div id='clearance' class='sign-in'>
  <h2>New Session</h2>

  <%= render :partial => '/sessions/form' %>

</div> -->