<% content_for :javascript_includes do %>
    <%= javascript_include_tag "home" %>
<% end %>

<% content_for :css_includes do %>
  <%= stylesheet_link_tag "pages", media: "all" %>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<% end %>
<header id="main-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="logo" class="navbar-brand" href="#">Streamr</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul id="sections-menu" class="nav navbar-nav">
        <li><a href="#features">Features</a></li>
        <li><a href="#contribute">Contribute</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <%= form_for :session, :url => session_path, html: { class: "navbar-form navbar-left", role: "form"} do |form| %>
                <div class='form-group'>
                  <%= form.text_field :email, :type => 'email', class: "form-control", placeholder: "Email" %>
                </div>

                <div class='form-group'>
                  <%= form.password_field :password, class: "form-control", placeholder: "Password" %>
                </div>

                <%= form.submit class: "btn btn-default" %>

                <div class='other-links'>
                  <%= link_to t('.sign_up'), sign_up_path %> |
                  <%= link_to t('.forgot_password'), new_password_path %>
                </div>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</header>
<section id="cover" class="jumbotron">
  <%= image_tag("cover3.jpg") %>
  <div id="legend">
    <h1>Streamr</h1>
    <p>Your music, anywhere</p>
  </div>
</section>
<section id="features">
  <div class="container text-center">
    <h1>Listen music from your Dropbox account</h1>
    <h2><small>
    Streamr allows you to listen to the music stored in your Dropbox account from any device.
    </small></h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="row icons"><span class="fa fa-headphones"></span></div>
        <div class="row">
          <h3>Listen</h3>
          <p>
            Stream music right from your Dropbox account. Don't waste space in your device.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row icons"><span class="fa fa-tags"></span></div>
        <div class="row">
          <h3>Browse</h3>
          <p>
            A song is not just a file path. Streamr gets your music's information, so that you can browse your library by artist or album.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="row icons">
          <span class="fa fa-desktop"></span>
          <span class="fa fa-tablet"></span>
          <span class="fa fa-mobile"></span>
        </div>
        <div class="row">
          <h3>Cross platform</h3>
          <p>
            Streamr only uses web standards, you can run it in any browser. Enjoy your music in a computer, tablet or smartphone.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contribute">
  <div class="container text-center">
    <h1>Contribute</h1>
    <h2><small>Streamr is an open source project. If you want to contribute to improve it, or just would like to modify it to 
    fit your needs, you can get the <a href="https://github.com/davidgf/droplayer">code repository in Github</a>.</small></h2>
  </div>
</section>

<section id="contact">
  <div class="container text-center">
    <h1>Contact</h1>
    <div class="row">
      <div class="col-sm-4 text-left">
        <h2><small>We at Streamr would love to hear from you. What do you think we could do better? What new features would you
        like us to include in the app? Fill the form and let us know your opinion, or simply email us, our address is 
        <a href="mailto:info@streamr.es">info@streamr.es</a>.</small></h2>
      </div>
      <div class="col-sm-8 text-left">
        <% if flash[:mail_sent] then %>
          <div id="notice" class="alert alert-success"><%= flash[:mail_sent] %></div>
        <% elsif flash[:mail_error] then %>
          <div id="notice" class="alert alert-danger"><%= flash[:mail_error] %></div>
        <% end %>
        <%= form_for @message, url: '/contact#contact', method: :post do |f| %>
          <div class="form-group">
            <%= f.label :name, class: 'control-label' %>
            <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
          </div>
          <div class="form-group">
            <%= f.label :email, class: 'control-label' %>
            <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
          </div>
          <div class="form-group">
            <%= f.label :subject, class: 'control-label' %>
            <%= f.text_field :subject, class: 'form-control', placeholder: 'Subject' %>
          </div>
          <div class="form-group">
            <%= f.label :content, 'Message', class: 'control-label' %>
            <%= f.text_area :content, class: 'form-control', placeholder: 'Message', rows: 6 %>
          </div>
          <%= f.submit 'Send', class: 'btn btn-default' %>
        <% end %>
      </div>
    </div>
  </div>
</section>