<!DOCTYPE html>
<html>
<head>
  <title>Droplayer</title>
  <%= yield :css_includes %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= yield :javascript_includes %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
